.news {
	position: relative;
	padding: 0 6%;
	padding-top: 35px;
	padding-bottom: 78px;
	border-bottom: 1px solid #e5ddd5;
	color: #000;
	background-color: @bg-light;
}

.news__items {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	list-style: none;
}

.news__item {
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 18px;
	padding-left: 70px;
	border-bottom: 1px solid #e5ddd5;
}

.news__item:nth-child(n+3) {
	display: none;
}

.news__item:nth-child(2) {
	margin-bottom: 25px;
	padding-bottom: 0;
	border: none;
}

.news__item-wrapper {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	transition: .6s;

	&:hover {
		color: #826550;
		text-decoration: underline;
	}

	&:hover .news__date {
		background: #826550;

		&::after {
			border-top-color: #826550;
		}
	}

	&:active {
		color: #6a4d38;
	}

	&:active .news__date {
		background: #6a4d38;

		&::after {
			border-top-color: #6a4d38;
		}
	}
}

.news__item-wrapper p {
	min-height: 108px;
	margin: 0;
}

.news__date {
	position: absolute;
	left: 0;
	top: 10px;
	width: 50px;
	height: 50px;
	font-size: 16px;
	line-height: 1;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	background: #000;
	transition: .6s;

	&::after {
		content: "";
		position: absolute;
		bottom: -10px;
		left: 50%;
		transform: translate(-50%);
		border-top: 10px solid #000;
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		border-bottom-width: 0;
		transition: .6s;
	}
}

.news__date b {
	display: block;
	font-size: 30px;
	line-height: 1;
}

.news__btn {
	display: block;
	position: absolute;
	bottom: 28px;
	width: 88%;
}

@media @tablet-widths {

	.news {
		padding: 0;
		padding-top: 50px;
		padding-bottom: 38px;
	}

	.news__items {
		.container-fluid();

		flex-direction: row;
		max-width: 960px;
		margin: auto;
	}

	.news__item {
		position: relative;
		width: 50%;
		margin-bottom: 0;
		padding-bottom: 0;
		padding-left: 70px;
		padding-right: 40px;
		border-bottom: none;
	}

	.news__item:nth-child(2) {
		margin-bottom: 0;
	}
}

@media @desktop-widths {

	.news__item:nth-child(n+3) {
		display: block;
	}
}