.slider__input {
	display: none;
}

.slider__toggles {
	font-size: 0;
	text-align: center;
}

.slider__toggle {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin-right: 25px;
	border: 2px solid #a5a5a5;
	transform: rotate(45deg);
	cursor: pointer;

	&:last-child {
		margin-right: 0;
	}
}

.slider__side-toggle {
	position: absolute;
	bottom: 0;
	width: 50px;
	height: 163px;
	border: 1px solid #e5ddd5;
	font-size: 0;
	background: transparent;
	cursor: pointer;

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
	}

	&:hover {
		border-color: #d5c9bd;
	}

	&:active {
		border-color: #d5c9bd;
		background-color: #d5c9bd;
	}

	&:active::after {
		opacity: .3;
	}
}

#reviews-input-1:checked ~ .slider__side-toggles label[for="reviews-input-3"],
#reviews-input-2:checked ~ .slider__side-toggles label[for="reviews-input-1"],
#reviews-input-3:checked ~ .slider__side-toggles label[for="reviews-input-2"] {
	left: 0;
	z-index: 2;

	&::after {
		border-right: 12px solid #000;
	}
}

#reviews-input-1:checked ~ .slider__side-toggles label[for="reviews-input-2"],
#reviews-input-2:checked ~ .slider__side-toggles label[for="reviews-input-3"],
#reviews-input-3:checked ~ .slider__side-toggles label[for="reviews-input-1"] {
	right: 0;
	z-index: 2;

	&::after {
		border-left: 12px solid #000;
	}
}

#reviews-input-1:checked ~ .slider__toggles label[for="reviews-input-1"],
#reviews-input-2:checked ~ .slider__toggles label[for="reviews-input-2"],
#reviews-input-3:checked ~ .slider__toggles label[for="reviews-input-3"] {
	background-color: #000;
	border-color: #000;
}

.reviews__item {
	display: none;
}

#reviews-input-1:checked ~ .reviews__items .slider__item:nth-child(1),
#reviews-input-2:checked ~ .reviews__items .slider__item:nth-child(2),
#reviews-input-3:checked ~ .reviews__items .slider__item:nth-child(3) {
	display: block;
}

@media @mobile-widths-only {

	#advantages-input-1:checked ~ .slider__toggles label[for="advantages-input-1"],
	#advantages-input-2:checked ~ .slider__toggles label[for="advantages-input-2"],
	#advantages-input-3:checked ~ .slider__toggles label[for="advantages-input-3"] {
		background-color: #fff;
		border-color: #fff;
	}

	.advantages__item {
		display: none;
	}

	#advantages-input-1:checked ~ .advantages__items .slider__item:nth-child(1),
	#advantages-input-2:checked ~ .advantages__items .slider__item:nth-child(2),
	#advantages-input-3:checked ~ .advantages__items .slider__item:nth-child(3) {
		display: block;
	}

	.slider__side-toggle {
		display: none;
	}
}